@import url(https://fonts.googleapis.com/css?family=Amatic+SC);

body {
    margin: 20px 0;
    font-Family: 'Amatic SC', cursive;
    text-align: center;
    background-color: #bbd5db;
    padding: 10px;
    cursor: default;
}

.p2 {
    font-size: 200%;
    text-align: center;
}

.p3 {
    font-size: 300%;
    line-height:10%;
    text-align: center;
}

.p5 {
    font-size: 500%;
    line-height:0%;
    text-align: center;
}

.buttonNrCards {
    padding: 30px 50px;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    font-family: "Amatic SC", cursive;
    color: rgb(255, 255, 255);
    font-size: 20px;
    border: none;
    background: linear-gradient(#996881, #5f275a);
    cursor: pointer;
    display: inline-block;
}

.buttonNrCards:hover {
    background: #430655;
    color: rgb(255, 255, 255);
}

#game{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}

.grid {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 900px;
}

.grid6 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 600px;
}


.card {
    position: relative;
    transition: all .4s linear;
    transform-style: preserve-3d;
    margin: 5px;
  }

.card,
.back,
.front {
    cursor: pointer;
    height: 130px;
    width: 130px;
}

.back,
.front{
    position: absolute;
    -moz-backface-visibility:hidden;
    -webkit-backface-visibility:hidden;
    -o-backface-visibility:hidden;
    backface-visibility:hidden;
}

.front{
    background: url('../img/KarteRueckseite.jpg') no-repeat center center / contain;
}

.back{
    transform: rotateY(180deg);
    background-color: #0a1f4c;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}
.back > img{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.selected{
   transform: rotateY(180deg);
}

.match {
    transform: rotateY(180deg);
    opacity: 0;
}

.disabled {
    pointer-events: none;
    opacity: 1;
}

.timer {
    opacity: 0.0;
    font-family: "Amatic SC", cursive;
}

.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(209, 204, 231, 0.7);
	transition: opacity 500ms;
	visibility: hidden;
	opacity: 0;
}

.show {
	visibility: visible !important;
	opacity: 100 !important;
}

.popup {
	margin: 20px auto;
	padding: 70px;
	background: #ffffff;
	border-radius: 5px;
	width: 55%;
	position: relative;
	transition: all 5s ease-in-out;
	font-family: 'Amatic SC', cursive;
}

.restartButton {
    font-family: "Amatic SC", cursive;
    margin: 40px auto;
    padding: 20px 30px;
    display: block;
    font-size: 20px;
    border: none;
    background: linear-gradient(#996881, #5f275a);
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.restartButton:hover {
    background: #996881;
    color: rgb(255, 255, 255);
}

#side {
    margin: auto;
    width: 220px;
    height: 420px;
    border: 3px solid rgb(118, 95, 145);
    position: absolute;
    top: 440px;
    bottom: 300px;
    right: 230px;
    left: 1200px;
    visibility: hidden;
    }

.container {
    width: 200px;
    height: 120px;
    margin-right: 10px;
    margin-left: 10px;
  }

  .sideCard{
    background-color: #0a1f4c;
    background-size: contain;
    margin-left: 15px;
    margin-top: 15px;
    height: 80px;
    width: 80px;
}
.sideCardImage{

    height: 80px;
    width: 80px;
    position: absolute;
    background-color: #0a1f4c;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}
